@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* colors */

    --primary:#04556E;
    --secondary:#022831;
    -tertiary:#689368;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
    transition: all 0.5s ease-in-out;
}
body a{
    text-decoration: none;
    color: inherit;
}
main{
    margin-top: 70px;
}
.section{
    padding: 50px 50px;

}
.section h2{
    font-size: 25px;
    font-weight: bold;
    /*color:;*/
    margin-bottom: 30px ;
    text-transform: uppercase;
    text-align: center;
}
/* Services*/
.services{
    margin: 0 auto;
    /* text-align: center; */
}
.service p{
    font-size: 70%;
}
.services-wrapper{
    display: flex;
    width: 900px;
    /* text-align: center; */
    margin: 0 auto;

}
.service{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin: 10px;
}
.service:hover{
    opacity: 0.6;
    background-color: transparent;
}
.service img{
    width: 190px;
    height: 150px;
}
/* Hotel */
.place-card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 80px;
    height: auto;

}
.place-card{
    width: 47%;
    height: 300px;
    margin-bottom: 70px;

}
.btns{
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: var(--primary);
    margin: 10px auto;
    
}
.btns:hover{
    padding: 15px 30px;
}
.place-card img {
    object-fit: fill;
    width: 90%;
    height: 300px;
}
.place-card img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.card-content{
    width: 80%;
}

/* Apartment */
.apartment-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
.apartment-card{
    width: 400px;
    cursor: pointer;
}
.apartment-card img:hover{
    opacity: 0.7;
}
.apartment-card img{
    width: 95%;
}
.apartment-card a:hover{
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 2px;
}
/* Food */
.Food{
    background-color: var(--primary);
    border-radius: 30px;

}
.Food h2{
    color: white;
}
.rest-card-wrapper{
    /* width: 100%; */
    max-width:1000px ;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* margin-bottom: 80px; */
    height: auto;

}

    .rest-card{
        width: 300px;
        height: auto;
    
    }
    .rest-card img {
        object-fit: fill;
        width: 90%;
        height: 200px;
        cursor: pointer;
    }
    .food .card-content{
        width: 80%;
        font-size: 30%;
    }
    .rest-card p{
        color: white;
        font-size: 80%;
    }
    .rest-card h3{
        color: white;
    }
    .rest-card h6{
        font-size: 55%;
        color: white;
        margin-bottom: 10px;
    }
    .btn{
        padding: 5px 10px;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        margin:5px 57px;
    }
    .btn:hover{
        padding: 10px 20px;
        opacity: 0.5;
    }
    


/* Taxis*/
.taxis{
    margin-top: 50px;
    border-top: 3px solid var(--secondary);
    border-bottom: 3px solid var(--secondary); 
    border-radius: 50px;
    /* height: 500px;    */
    padding: 20px;
}
.taxi-wrapper{
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
}
.taxi-card{
    width: 30%;
}
.taxi-card img{
    width: 80%;
    height: 200px;
}
.taxi-card img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.taxi-card p{
    font-size: 70%;
    width: 80%;
}
.taxi-card a{
    color: var(--primary);
}
.taxi-card a:hover{
    letter-spacing: 2px;
    text-decoration: underline;
    line-height: 2;
}
.car-wrapper{
    display: flex;
    /* width: 900px; */
    justify-content: space-between;
    /* text-align: center; */
    /* margin: 0 auto; */

}
.car-card{
    width: 300px;
    height: 200px;

    margin: 0 auto;
    margin: 10px;
}
.car-card a:hover{
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 2px;
    color: green;
}
.car img:hover{
    opacity: 0.6;
    background-color: transparent;
}
.car img{
    width: 250px;
    height: 150px;
}
.car-brief{
    font-size: 70%;
}
