@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #022831;
  color: #022831;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 24px;
}

.btn:hover {
  background: #022831;
  color: #022831;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #04566e;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
}

header .logo span {
  font-size: 2.8rem;
  color: #b4d330;
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: #022831;
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: #022831;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* Activities page */

.home {
  background-image: url(
    https://nevadahotelsandsuites.com/wp-content/uploads/2021/02/Tourist-Attractions-in-Lagos-1.jpg
    );
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  padding: 2rem 9%;
}


.home .content {
  margin-left: 10px;
  
}

.home .content h2 {
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content h3 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 24px;
  color: #fff;
  padding: 0.5rem 0;
  text-align: left;
}

.home .discover {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  background-color: #04566e;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
}

.home .discover:hover {
  background-color: #022831;
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
:root {
    /* colors */
  
    --primary: #04556e;
    --secondary: #022831;
    -tertiary: #689368;
  }
  




/* MAIN SECTION */
/* .header-section {
    padding-top: 30px;
    text-align: center;
    
} */

.tourist{
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary);
    font-size: 30px;
    
}

.container {
  text-align: center;
  /* border: 4px solid red; */
}

.container-section {
   padding: 10px 0;
   text-transform: uppercase;
   font-size: 20px;
   color: var(--secondary);
}

.container-paragraph {
    margin: 0 auto;
    width: 70%;
    line-height: 1.5;
    word-spacing: .1rem;
    font-size: 15px;
  
}

/* SECTION */
.section {
    padding: 10px;
    /* border: 5px solid blue; */
  
}

.section h2 {
    /* font-size: 40px; */
    padding: 20px 0;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 10px 0;
    text-transform: uppercase;
    text-align: center;
    transition: all .2s;
}

/* .section h2:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#000, .2);
} */


/* PROJECT CARDS */
.project-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
     margin-bottom: 20px; 
     margin-top: 10px;
    /* border: 5px solid red; */
}

.project-card {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
     /* width: 27%;  */
  
    
    
    
}

.project-card:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.project-card-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card-content {
    width: 300px;
    padding: 2px 10px;
    
}

.project-title {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    text-transform: uppercase;
    overflow: hidden;
    
}

.project-brief {
    font-size: 15px;
    text-align: center;
    overflow: hidden;

}
    
/* button */
.btns {
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  margin: 10px auto;
}
.btns:hover {
  padding: 10px 30px;
  opacity: 0.5;
}

/* hr */

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
  } 
/* FOOTER SECTION */
.footer {
  background-color: #04566e;
  padding: 2rem 9%;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: #d8dfe9;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: #b4d330;
}
@media only screen and (max-width: 900px) {
  .about{
      padding: 0 10px;
  }
  .founder{
      padding:50px 20px 50px 20px;
  }
  .founder-wrapper{
      display: block;
  }
  .f-card{
      margin-bottom: 30px;
  }
  .fun-fact{
      padding-left: 20px;
      padding-right: 20px;
  }
  .fast-wrapper{
      display: grid;
      grid-template-columns: 45% 45%;
      justify-content: space-between;
  }
  .fast-card{
      margin-bottom: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .fast-wrapper{
      display: block;
  }
}
