@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #022831;
  color: #022831;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 24px;
}

.btn:hover {
  background: #022831;
  color: #022831;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #04566e;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
}

header .logo span {
  font-size: 2.8rem;
  color: #b4d330;
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: #022831;
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: #022831;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home .content {
  margin-left: 10px;
}

.home .content h2 {
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content h3 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 24px;
  color: #fff;
  padding: 0.5rem 0;
  text-align: left;
}

.home .discover {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  background-color: #04566e;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
}

.home .discover:hover {
  background-color: #022831;
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  background: linear-gradient(30deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1618828665011-0abd973f7bb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-size: cover;
  background-repeat: repeat;
}



/*The CONTACT US PAGE SECTION */

form{
  margin: 10px;
  padding: 10px;
}
.contact-form-container{
  width: 400px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  padding: 0 20px 20px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  position: relative;
  top: 100px;
  margin-bottom: 200px;

}
.contact-form-container h2{
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 15px 10px;
  margin-top: 10px;
}
.input-container{
  display: flex;
  width: 100%;
  padding-bottom: 16px;
}
.icon{
  width: 50px;
  padding: 12px;
  background-color: #04566e;
  color: #fff;
  text-align: center;
}
.input_text{
  width: 100%;
  padding: 12px;
}

.btn{
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #04566e;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}
.btn:hover{
  background-color: #689368;
}



/* CONTACT STYLING */

.contact-container{
  width: 400px;
  /* height: 100vh; */
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}
.contact-header h2{
  font-size: 24px;
  color: #fff;
}
.contact-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}
.img-container{
  padding-left: 12px;
  margin-left: 10px;

}
.contact-header img{
  width: 40px;
  height: 40px;
}
.contact-content{
  margin: 10px;
}

.input-section{
  width: 100%;
  padding: 10px 0;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.client-brief{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
label{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #fff;
}

/* FOOTER SECTION */

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home .content {
  margin-left: 10px;
}

.home .content h2 {
  font-size: 30px;
  font-weight: medium;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  top: 6.5rem;
  left: 35%;
}


section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #022831;
  color: #022831;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 24px;
}

.btn:hover {
  background: #022831;
  color: #022831;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #04566e;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  height: 10vh;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
}

header .logo span {
  font-size: 2.8rem;
  color: #b4d330;
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: #022831;
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

.icons svg .section {
  padding: 50px 50px;
}

.section h2 {
  font-size: 25px;
  font-weight: bold;
  color: green;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.section home {
  font-size: 25px;
  font-weight: bold;
  color: green;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

/*Contact Us Form*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40%;

}

.submit-btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact-container {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px 30px;
  position: relative;
  top: 200px;
  margin-bottom: 320px;
}

.contact-container h2 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  padding: 20px 0;
}

.active{
  font-weight: 800;
  text-decoration: underline;

}

label {
  color: #fff;
  font-size: 14px;
}


/* FOOTER SECTION */
.footer {
  background-color: #04566e;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  

}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
  line-height: 1.5;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: #d8dfe9;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: #b4d330;
}


/* MEDIA QUERIES  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #04566e;
    width: 30%;
    border-top: 0.1rem solid #022831;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background-color: #04566e;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
