@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
:root {
  /* colors */

  --primary: #04556e;
  --secondary: #022831;
  -tertiary: #689368;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
body {
  /* font-family: 'Poppins', sans-serif; */
  color: var(--secondary);
  transition: all 0.5s ease-in-out;
}
body a {
  text-decoration: none;
  color: inherit;
}

header section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #022831;
  color: #022831;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 24px;
}

.btn:hover {
  background: #022831;
  color: #022831;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #04566e;  */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
}

header .logo span {
  font-size: 2.8rem;
  color: #b4d330;
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: #022831;
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: #022831;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home {
  background-image: url(https://images.unsplash.com/photo-1618828665011-0abd973f7bb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  padding: 2rem 9%;
}

.home .content {
  margin-left: 10px;
}

.home .content h2 {
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.home .content h3 {
  font-size: 54px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  text-transform: none;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 30px;
  color: #fff;
  /* width: 69%;
  background-color: rgba(0, 0, 0, 0.2); */
  opacity: 1;
  padding: 0.5rem 0;
  text-align: left;
  margin-top: 10px;
}

/* .home .discover {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  background-color: #04566e;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
}

.home .discover:hover {
  background-color: #022831;
}

.home .discover span {
  color: #fff;
} */

/* SERVICES STARTED */
.section {
  padding: 50px 50px;
}
.section h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
/* Services*/
.services {
  margin: 0 auto;
  /* text-align: center; */
}
.service p {
  font-size: 100%;
}
.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  /* text-align: center; */
  margin: 0 auto;
}
.service {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin: 10px;
}
.service h4 {
  font-size: 130%;
}
.service:hover {
  opacity: 0.6;
  background-color: transparent;
}
.service img {
  width: 190px;
  height: 150px;
}
/* Hotel */

.place-card-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
  height: auto;
}

.place-card {
  width: 47%;
  height: auto;
  padding: 0 3%;
  /* background-color: red; */
  margin-bottom: 30px;
}
.place-card h6 {
  margin: 3px 0;
}
.btns {
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  margin: 10px auto;
}
.btns:hover {
  padding: 10px 30px;
  opacity: 0.5;
}
.place-card img {
  object-fit: fill;
  width: 100%;
  height: 300px;
}
.place-card img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.card-content {
  width: 80%;
  font-size: 140%;
}

/* Apartment */
.apartment {
  margin-bottom: 30px;
}
.apartment-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.apartment-card {
  width: 400px;
  cursor: pointer;
}
.apartment-card h5 {
  margin: 5px 0;
}
.apartment-card img:hover {
  opacity: 0.7;
}
.apartment-card img {
  width: 95%;
}
.apartment-card a {
  padding-top: 10px;
  font-size: 120%;
}
.apartment-card h5 {
  font-size: 120%;
}
.apartment-card a:hover {
  text-decoration: underline;
  /* line-height: ; */
  letter-spacing: 2px;
}
/* Food */
.Food {
  background-color: var(--primary);
  border-radius: 30px;
}
.Food h2 {
  color: white;
}
.rest-card-wrapper {
  /* width: 100%; */
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
  /* margin-bottom: 80px; */
  height: auto;
}

.rest-card {
  width: 300px;
  height: auto;
}
.rest-card img {
  object-fit: fill;
  width: 90%;
  height: 200px;
  cursor: pointer;
}
.food .card-content {
  width: 80%;
  font-size: 70%;
}
.rest-card h3 {
  color: white;
  margin: 3px 0;
}
.rest-card h6 {
  font-size: 75%;
  color: white;
  margin-bottom: 10px;
  height: 20px;
}
.btn-s {
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px 57px;
}
.btn-s:hover {
  padding: 5px 20px;
  opacity: 0.5;
}

/* Taxis*/
.taxis {
  margin-top: 50px;
  /* border-top: 3px solid var(--secondary);
  border-bottom: 3px solid var(--secondary);
  border-radius: 50px; */
  /* height: 500px;    */
  padding: 20px;
}
.taxi-wrapper {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  /* gap: 30px; */
}
.taxi-card {
  width: 30%;
}
.taxi-card h3 {
  font-size: 170%;
  padding: 5px 0;
}
.taxi-card img {
  width: 80%;
  height: 200px;
}
.taxi-card img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.taxi-card p {
  font-size: 100%;
  width: 80%;
}
.taxi-card a {
  color: var(--primary);
  font-size: 120%;
}
.taxi-card a:hover {
  letter-spacing: 2px;
  text-decoration: underline;
  /* line-height: 2; */
}
.car-wrapper {
  display: flex;
  /* width: 900px; */
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  /* margin: 0 auto; */
}
.car-card {
  width: 300px;
  height: 200px;

  margin: 0 auto;
  margin: 10px;
}
.car-card a {
  font-size: 130%;
  padding: 5px;
  margin-top: 10px;
  color: var(--primary);
}
.car-card a:hover {
  text-decoration: underline;
  /* line-height: ; */
  letter-spacing: 2px;
  color: green;
}
.car img:hover {
  opacity: 0.6;
  background-color: transparent;
}
/* .car-content {
  height: 100px;
} */
.car-card h5 {
  font-size: 120%;
  /* height: 15px; */
  margin: 3px 0;
}
.car img {
  width: 250px;
  height: 150px;
}
.car-brief {
  font-size: 110%;
  /* height: 25px; */
}

/* FOOTER SECTION */
.footer {
  background-color: #04566e;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 0;
}

.footer .box-container .box {
  padding: 1rem 6rem;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: #d8dfe9;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 5rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: #b4d330;
}

/* MAKING THE PAGE RESPONSIVE */

/* media queries  */

@media (min-width: 1200px) {
  .home .content p {
    width: 67%;
    background-color: rgba(1, 14, 41, 0.3);
    border-radius: 4px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  .home {
    padding: 2rem;
  }
  .footer {
    padding: 2rem;
  }
  .place-card-wrapper {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 45% 45%;
  }
  .place-card {
    width: 100%;
  }
  .section {
    padding: 10px;
  }
  .apartment {
    margin-bottom: 100px;
  }

  .food {
    margin-top: 100px;
  }
  .rest-card-wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 4%;
  }
  .rest-card {
    width: 100%;
  }
  .btn-s {
    margin: 5px 20px;
  }
  .taxi-wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 4%;
  }
  .taxi-card {
    width: 100%;
  }
  .taxi-card img {
    width: 100%;
  }
  .car {
    margin-bottom: 60px;
  }
  .car-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    justify-content: space-between;
  }
  .car-card {
    width: 100%;
  }
  .car img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #04566e;
    width: 30%;
    border-top: 0.1rem solid #022831;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background-color: #04566e;
  }
  .services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services-wrapper a {
    width: 40%;
  }
  .service {
    margin: 0 auto;
    width: 100%;
  }
  .service img {
    width: 90%;
  }
  .section {
    padding: 0px;
    width: 90%;
  }
  .place-card-wrapper {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    margin: 0px auto;
    /* margin-left: 50px; */
    /* text-align: center; */
  }
  .place-card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .apartment {
    margin-bottom: 100px;
  }
  .apartment-wrapper {
    display: block;
  }
  .apartment-card {
    width: 90%;
    margin-bottom: 30px;
  }
  .Food {
    width: 80%;
  }
  .Food h2 {
    margin-top: 20px;
  }
  .rest-card-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .rest-card {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
  }
  .rest-card img {
    width: 100%;
  }
  .taxi-wrapper {
    display: block;
  }
  .taxis {
    width: 80%;
  }
  .taxi-card {
    margin-bottom: 50px;
  }
  .taxi-card h3 {
    font-size: 200%;
  }
  .taxi-card p {
    font-size: 160%;
  }
  .car-wrapper {
    display: block;
    margin-bottom: 70px;
  }
  .car-card {
    margin-bottom: 50px;
  }
  .car-content {
    font-size: 180%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
  .services-wrapper {
    display: block;
  }
  .service {
    margin: 0 auto;
    width: 80%;
  }
  .service img {
    width: 80%;
  }
  .section {
    padding: 0px;
    width: 90%;
  }
  .place-card-wrapper {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    margin: 0px;
  }
  .place-card {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .apartment-wrapper {
    display: block;
  }
  .apartment-card {
    width: 90%;
    margin-bottom: 30px;
  }
  .Food {
    width: 80%;
  }
  .Food h2 {
    margin-top: 20px;
  }
  .rest-card-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .rest-card {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
  }
  .rest-card img {
    width: 100%;
  }
  .taxi-wrapper {
    display: block;
  }
  .taxis {
    width: 80%;
  }
  .taxi-card {
    margin-bottom: 50px;
  }
  .taxi-card h3 {
    font-size: 200%;
  }
  .taxi-card p {
    font-size: 160%;
  }
  .car-wrapper {
    display: block;
    margin-bottom: 30px;
  }
  .car-card {
    margin-bottom: 50px;
  }
  .car-content {
    font-size: 180%;
  }
}
