@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&display=swap");


header{
  background-image: url(https://media.istockphoto.com/photos/african-city-by-night-lagos-nigeria-picture-id900714738?b=1&k=20&m=900714738&s=170667a&w=0&h=b3qohgMDS8cdHp77mjad5FEqiSL74BhT1uUviXUodTs=);
background-size: cover;
background-position: 50%;
height: 70vh;
position: relative;
padding-bottom: 2rem;
margin-bottom: 2rem;
}


.header-content-wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.fullname{
  font-size: 30px;
  color: limegreen;
  font-weight: bold;
  margin-top: 8rem;
}




/*.nav-link1*/
.nav-link1{
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; /* remove underline */
  transition: 0.5s;
  padding: 10px;
  margin: 8px;
}


.nav-link1.active{
  color: limegreen;
}

.hero-wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}


header .logo {
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
}

header .logo span {
  font-size: 30px;
  color: #b4d330;
}


.section h2{
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px 0;
  text-transform: uppercase;
  text-align: center;
}

.packages-card-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 2rem;
}

.packages-card {
  padding: 10px 6px;
   transform: 0.3s;
  border-radius: 5px;
  width: 100%;
  height: 200%;
}

.packages-card img {
  width: 100%;
  height: 200%;
}

.card-content {
  width: 300px;
  padding: 2px 16px;
}

.package-tittle {
  color: black;
  margin-bottom: 10px;
  font-size: 17px;
}

.package-brief {
  font-size: 15px;
  display: flex;
  font-family: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&display=swap');
}

.package-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

}


.btn{
  background-color: rgb(180, 206, 206);
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 26px;
  border: none;
  margin: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}


.btn:hover{
  opacity: 0.5;
}
