/* Importing fonts family - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset browser default styles */

*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100 view height */
    background-image: url( https://images.unsplash.com/photo-1559585888-6b01c8ea796b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194&q=80);
    
    background-position: 50%;
    height: 80vh;
    
  }
  
  form{
    background: white;
    padding: 1rem;
  }
  
  h2{
    text-align: center;
    margin: 1rem 8rem;
    color: #333;
  }
  
  section{
    margin-bottom: 1rem;
  }
  
  #first-section,
  #second-section{
    display: flex;
    gap: 1.5rem;
  }
  
  input{
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid #ECEDF3;
    color: #A2B3CC;
  }
  
  #email{
    width: 100%
  }

  #password{
    width: 100%
  }
  
  button{
    width: 100%;
    border-radius: 10px;
    background: #04566e;
    border: none;
    color: white;
    padding: 1rem;
  }

 